---
// Component Imports
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import ArtikelLister from "../components/ArtikelLister.astro";

const artikel = (await Astro.glob('./artikel/**/*.md*'))
	.filter(({ frontmatter }) => !!frontmatter.publishDate)
  .filter((post) => !post.frontmatter.draft)
	.sort(
		(a, b) =>
			new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
	);
---

<Layout>
  <Header />
  <section class="bg-dark">
    {artikel.map(artikel => {
        return <ArtikelLister img={artikel.frontmatter.img} url={artikel.url} date={artikel.frontmatter.publishDate} title={artikel.frontmatter.title} teaser={artikel.frontmatter.description}></ArtikelLister>;
    })}
    </section>
  <Footer />
</Layout>
