---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Layout from "../layouts/Layout.astro"
import {Picture} from "@astrojs/image/components"

import getucated_img_mobile from "/src/assets/images/mockups/getucated_mobile.png"
import mockup_ayur from "/src/assets/images/mockups/ayur_mockups_home.png"
import logicmoon_full from "/src/assets/images/mockups/logicmoon_full.png"
import logicmoon_mobile from "/src/assets/images/mockups/logicmoon_mobile.png"
import ayurhome_mobile from "/src/assets/images/mockups/home_mobile.png"
import getucated_app from "/src/assets/images/portfolio/getucated-app.png"
import getucated_app2 from "/src/assets/images/portfolio/getucated-app2.webp"
import getucated_app3 from "/src/assets/images/portfolio/getucated-app3.webp"
import iihd from "/src/assets/images/portfolio/iihd.png"
import iihd_mobile from "/src/assets/images/portfolio/mobile/iihd.png"
import gsp from "/src/assets/images/portfolio/gsp.png"
import gsp_mobile from "/src/assets/images/portfolio/mobile/gsp.png"
import vr from "/src/assets/images/portfolio/vr.png"
import vr_mobile from "/src/assets/images/portfolio/mobile/vr.png"
import rp24 from "/src/assets/images/portfolio/rp24.png"
import rp24_mobile from "/src/assets/images/portfolio/rp24.png"
import mif from "/src/assets/images/shopmockup_full.png"
import mif_mobile from "/src/assets/images/shopmockup_small.png"
import lul from "/src/assets/images/portfolio/lul.png"
import migrosbank from "../assets/images/portfolio/webcomponents.png"

import bo1 from "../assets/images/portfolio/mockup_bo1.webp"
import bo1_mobile from "../assets/images/portfolio/mockup_mobile_bo1.webp"
import zz from "src/assets/images/portfolio/zuerizahnie.png"
import zz_mobile from "src/assets/images/portfolio/zuerizahnie_mobile.png"
import snappy from "src/assets/images/portfolio/snappy-dashboard.png"
import snappy_mobile from "src/assets/images/portfolio/snappy-dashboard_mobile.png"

import sprachelernen from "src/assets/images/portfolio/sprachelernen_desktop.png"
import sprachelernen_mobile from "src/assets/images/portfolio/sprachelernen_mobile.png"

import linktree from "src/assets/images/portfolio/mobile/linktree.png"
---

<script>
  import ArrowScroller from "../modules/ArrowScroll"
  ArrowScroller()
</script>
<Layout title="Tobeworks - Projekte">
  <Header />
  <section class="container bg-erieblack text-orange mainsection titlesection">
    <div class="row">
      <div class="col-sm align-self-center title-lead">
        <h2 class="cover my-2 text-center">Projekte</h2>
        <p class="lead text-center w-75 mx-auto my-3">
          Eine kleine Auswahl der von <b>Tobeworks</b> umgesetzten <br /> Projekte,
          Apps, Web-Anwendungen und vielem mehr.
        </p>
      </div>
    </div>
    <a href="#!" class="title-arrow-down">
      <i class="fa-solid fa-arrow-down"></i>
    </a>
  </section>
  <span id="contentStart"></span>

  <!-- Linktree Start -->
  <section class="bg-silver portfolio-row">
    <div class="card mb-3">
      <div class="row align-items-center">
        <div class="col-sm-7">
          <Picture
            class="card-img-top py-5"
            src={linktree}
            alt="linktree"
            widths={[300, 420, 650]}
            sizes="(max-width: 767px) 250px,(max-width:1199px) 350px, (min-width: 1200px) 650px"
            formats={["webp"]}
            aspectRatio="1:1"
          />
        </div>
        <div class="col-sm-5">
          <div class="card-body">
            <h4 class="card-title">Webapp - Linktree</h4>
            <h6 class="card-subtitle mb-2 text-muted">Webapp</h6>
            <p class="card-text">
              Das Linktree Web-Widget von Tobeworks ist eine innovative Lösung,
              die speziell für die Nutzung auf sozialen Plattformen wie
              Instagram entwickelt wurde. Durch die Verwendung von Vue.js und
              Tailwind CSS wurde ein benutzerfreundliches und ansprechendes
              Design umgesetzt. Die Integration einer API (Headless CMS)
              ermöglicht es dem Kunden, den Inhalt des Widgets schnell und
              einfach zu aktualisieren, ohne sich direkt im Code der Anwendung
              zu bewegen. Durch die Verwendung dieser Technologien wird eine
              schnelle und zuverlässige Ausführung des Widgets gewährleistet. So
              können Nutzer schnell auf alle wichtigen Links zugreifen, ohne
              aufwendige Navigationen durchlaufen zu müssen. Das Linktree
              Web-Widget ist somit eine effektive Möglichkeit, um das Engagement
              und die Interaktion auf sozialen Medien zu steigern.
            </p>
            <p class="card-text">
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-npm"></i>
            </p>

            <p class="card-footer">
              <span class="badge bg-erieblack">HTML</span>
              <span class="badge bg-erieblack">Vue.js</span>
              <span class="badge bg-erieblack">NPM</span>
              <span class="badge bg-erieblack">CSS</span>
              <span class="badge bg-erieblack">Tailwind CSS</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Linktree  Ende -->

  <!-- Neuraxis Start -->
  <section class="bg-silver portfolio-row">
    <div class="card mb-3">
      <div class="row align-items-center">
        <div class="col-sm-7">
          <Picture
            class="card-img-top d-block d-sm-none pt-5"
            src={snappy_mobile}
            widths={[500]}
            alt="Neuraxis 2.0"
            sizes=""
          />
          <Picture
            class="card-img-top d-none d-sm-block pt-5"
            src={snappy}
            alt="Neuraxis 2.0"
            widths={[300, 420, 650]}
            sizes="(max-width: 767px) 300px,(max-width:1199px) 420px, (min-width: 1200px) 650px"
            formats={["webp"]}
          />
        </div>
        <div class="col-sm-5">
          <div class="card-body">
            <h5 class="card-title">Neuraxis Dashboard</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              Application Framework mit Vue.js, Tailwind CSS und Python/Flask
            </h6>
            <p class="card-text">
              Die Aufgabe bei diesem Projekt war äußerst anspruchsvoll und
              erforderte ein tiefes Verständnis für Webentwicklung und
              Programmierung. Tobeworks hatte die Herausforderung, eine komplexe
              Webanwendung zu entwickeln, die mehr als eine gewöhnliche
              Webapplikation darstellt. Vielmehr sollte es ein umfassendes
              Webframework sein, das aus einem Mono-Repo eine erweiterbare
              Applikationsschnittstelle schafft. Dabei wurden verschiedene
              Boot-Parameter genutzt, um eine individuelle Programmierumgebung
              zu erschaffen.
              <br />
              Die Grundlage dieses Frameworks bildet Vue.js in Kombination mit Tailwind
              CSS, die auf einem Webpack Bundler aufgesetzt wurden. Tobeworks hat
              dabei den Kern des Frameworks und das gesamte Frontend-Interface entworfen
              und umgesetzt. Das Backend der Anwendung wird durch eine Python API
              gebildet, die von einer redis-Datenbank unterstützt wird.
              <br />
              Insgesamt war/ist dies ein umfangreiches Projekt, das viel Know-how
              und Fingerspitzengefühl erforderte. Das Ergebnis ist eine leistungsstarke
              und erweiterbare Webanwendung, die für viele Anwendungsbereiche im
              Poweruser-Umfeld einsetzbar ist.
            </p>
            <p class="card-text">
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-npm"></i>
            </p>

            <p class="card-footer">
              <span class="badge bg-erieblack">HTML</span>
              <span class="badge bg-erieblack">Vue.js</span>
              <span class="badge bg-erieblack">NPM</span>
              <span class="badge bg-erieblack">CSS</span>
              <span class="badge bg-erieblack">Tailwind CSS</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Neuraxis Ende -->

  <!-- Sprachelernen Start -->
  <section class="bg-silver portfolio-row">
    <div class="card mb-3">
      <div class="row align-items-center">
        <div class="col-sm-7">
          <Picture
            class="card-img-top d-block d-sm-none pt-5"
            src={sprachelernen_mobile}
            widths={[500]}
            alt="Neuraxis 2.0"
            sizes=""
          />
          <Picture
            class="card-img-top d-none d-sm-block pt-5"
            src={sprachelernen}
            alt="Neuraxis 2.0"
            widths={[300, 420, 650]}
            sizes="(max-width: 767px) 300px,(max-width:1199px) 420px, (min-width: 1200px) 650px"
            formats={["webp"]}
          />
        </div>
        <div class="col-sm-5">
          <div class="card-body">
            <h5 class="card-title">Sprachelernen - Sprachkurs App</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              Kompletter Sprachkurs als in Deutsch und Französisch
            </h6>
            <p class="card-text">
              Sprachelernen ist eine Anwendung, die als Webapp genutzt werden
              kann. Die Plattform bietet Schülern aus der ganzen Welt die
              Möglichkeit, Sprachen zu lernen und sich weiterzuentwickeln. Die
              Verwendung von WordPress und Learndash hat es uns ermöglicht, eine
              benutzerfreundliche Plattform zu entwickeln, die eine einfache
              Verwaltung und Aktualisierung ermöglicht. WordPress als
              Content-Management-System bietet uns die Möglichkeit, Inhalte
              schnell und einfach zu aktualisieren und zu verwalten. Learndash
              als Lernmanagement-Software ermöglicht es uns, unsere Kurse online
              anzubieten und Schülern interaktive Lernmaterialien, Übungen und
              Tests zur Verfügung zu stellen. Unser Ziel bei der Entwicklung
              dieser Plattform war es, eine qualitativ hochwertige und
              zugängliche Sprachlernumgebung zu schaffen. Wir sind stolz darauf,
              dass unsere Plattform es Schülern aus der ganzen Welt ermöglicht,
              ihre Sprachkenntnisse zu verbessern und sich weiterzuentwickeln.
              Durch das Feedback-System auf unserer Plattform können Schüler
              ihre Fortschritte verfolgen und gezielt an ihren Schwächen
              arbeiten.
            </p>
            <p class="card-text">
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-css3"></i>
              <i class="fab fa-html5"></i>
            </p>

            <p class="card-footer">
              <span class="badge bg-erieblack">Wordpress</span>
              <span class="badge bg-erieblack">Learndash</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Spachelernen Ende -->

  <!-- Migrosbank Start -->
  <section class="bg-silver portfolio-row">
    <div class="card mb-3">
      <div class="row align-items-center">
        <div class="col-sm-7">
          <Picture
            class="card-img-top"
            src={migrosbank}
            alt="Webcomponent"
            widths={[300, 420, 650]}
            sizes="(max-width: 767px) 300px,(max-width:1199px) 420px, (min-width: 1200px) 650px"
            formats={["webp"]}
            aspectRatio="4:3"
          />
        </div>
        <div class="col-sm-5">
          <div class="card-body">
            <h5 class="card-title">Webwidget - Migrosbank</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              Webcomponent, Python, Docker, GCP
            </h6>
            <p class="card-text">
              Die Webkomponente zeichnet sich durch eine hohe Flexibilität aus
              und kann einfach in die Webseite des Kunden eingebunden werden.
              Hierfür genügt es, die Webkomponente per Remote in die HTML-Datei
              einzubinden – und das ganz ohne zusätzliche Abhängigkeiten (zero
              Dependencies).
              <br />
              Durch die Verwendung von Docker und der Google Cloud Platform ist eine
              schnelle und effiziente Bereitstellung der Webkomponente auf verschiedenen
              Servern möglich. Mit der Python-API lässt sich die Komponente zudem
              einfach und schnell anpassen, um den Anforderungen des Kunden gerecht
              zu werden.
              <br />
              Die Webkomponente von Tobeworks ermöglicht es Kunden, eine moderne
              und flexible Lösung für ihre Webseiten zu nutzen und von den Vorteilen
              der neuesten Technologien zu profitieren.
            </p>
            <p class="card-text">
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-css3"></i>
            </p>

            <p class="card-footer">
              <span class="badge bg-erieblack">HTML</span>
              <span class="badge bg-erieblack">Vue.js</span>
              <span class="badge bg-erieblack">Python</span>
              <span class="badge bg-erieblack">NPM</span>
              <span class="badge bg-erieblack">CSS</span>
              <span class="badge bg-erieblack">SASS</span>
              <span class="badge bg-erieblack">Primevue</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Migrosbank Ende -->

  <!--  Bo 1 Start -->
  <section class="bg-silver portfolio-row">
    <div class="card mb-3">
      <div class="row align-items-center">
        <div class="col-sm-7">
          <Picture
            class="card-img-top d-block d-sm-none pt-5"
            src={bo1_mobile}
            widths={[500]}
            alt="Logic Moon"
            sizes=""
          />
          <Picture
            class="card-img-top d-none d-sm-block pt-5"
            src={bo1}
            alt="Logic Moon"
            widths={[300, 420, 650]}
            sizes="(max-width: 767px) 300px,(max-width:1199px) 420px, (min-width: 1200px) 650px"
            formats={["webp"]}
          />
        </div>

        <div class="col-sm-5">
          <div class="card-body">
            <h5 class="card-title">BO1 (Albatros)</h5>
            <h6 class="card-subtitle mb-2 text-muted">Webdevelopment</h6>
            <p class="card-text">
              Tobeworks hat im Sommer 2022 an einem spannenden Projekt für <a
                href="https://albatros.agency"
                target="_blank">
                Albatros Frankfurt</a
              > gearbeitet, bei dem eine Sketch-Vorlage für WordPress umgesetzt wurde.<br
              />
              Dabei wurden modernste Webentwicklungstechnologien wie JavaScript für
              Lottie-Animationen eingesetzt. Tobi von Tobeworks hat Albatros Frankfurt
              nicht nur bei der Entwicklung unterstützt, sondern den Kunden auch
              beratend zur Seite gestanden. <br />So wurde das Projekt agil
              umgesetzt und in ständiger Kommunikation mit dem Kunden
              weiterentwickelt. Das Ergebnis ist eine ansprechende und
              benutzerfreundliche Webseite, die sich perfekt an die Bedürfnisse
              des Kunden anpasst und einwandfrei funktioniert.
            </p>
            <p class="card-text">
              <i class="fab fa-js"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-css3"></i>
              <i class="fab fa-wordpress"></i>
            </p>

            <p class="card-footer">
              <span class="badge bg-erieblack">HTML</span>
              <span class="badge bg-erieblack">CSS</span>
              <span class="badge bg-erieblack">Wordpress</span>
              <span class="badge bg-erieblack">Elementor</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  Bo 1 Ende -->

  <!-- Ayur -->
  <section class="bg-silver portfolio-row">
    <div class="card mb-3">
      <div class="row align-items-center">
        <div class="col-sm-7">
          <img
            class="card-img-top d-block d-sm-none"
            src={ayurhome_mobile.src}
            alt="Rosenberg Ayurveda"
          />
          <Picture
            class="card-img-top d-none d-sm-block"
            src={mockup_ayur}
            alt="Rosenberg Ayurveda"
            widths={[300, 420, 650]}
            sizes="(max-width: 767px) 300px,(max-width:1199px) 420px, (min-width: 1200px) 650px"
            formats={["webp"]}
            aspectRatio="4:3"
          />
        </div>
        <div class="col-sm-5">
          <div class="card-body">
            <h5 class="card-title">Rosenberg Ayurveda</h5>
            <h6 class="card-subtitle mb-2 text-muted">Shop System</h6>
            <p class="card-text">
              Für dieses Projekt wurde eine aufwendige Frontend-Entwicklung
              durchgeführt, welche auf einer Adobe XD-Vorlage basierte. Das Ziel
              war es, eine ansprechende und zugleich funktionale
              Benutzeroberfläche zu schaffen, die den Nutzern ein optimales
              Erlebnis bietet. Die Umsetzung erfolgte durch die Verwendung von
              HTML 5 Code und (S)CSS, wodurch ein dynamisches Design entstand.
              Die Umsetzung in valides HTML war besonders herausfordernd und
              erforderte eine sorgfältige Planung und ein großes Know-how.
              Insgesamt konnte durch die erfolgreiche Umsetzung der Technologien
              ein ästhetisch ansprechender und zugleich benutzerfreundlicher
              Webshop geschaffen werden.
            </p>
            <p class="card-text">
              <i class="fab fa-html5"></i>
              <i class="fab fa-css3"></i>
              <i class="fab fa-bootstrap"></i>
            </p>

            <p class="card-footer">
              <span class="badge bg-erieblack">HTML</span>
              <span class="badge bg-erieblack">Adobe XD</span>
              <span class="badge bg-erieblack">NPM</span>
              <span class="badge bg-erieblack">CSS</span>
              <span class="badge bg-erieblack">SASS</span>
              <span class="badge bg-erieblack">Bootstrap 5</span>
            </p>
            <div>
              <a
                href="/showcase/ayur-shop"
                class="btn btn-erieblack btn-sm my-3"
                >Zum Showcase <i class="fa-solid fa-caret-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Ayur Ende -->

  <!--  Bo 1 Start -->
  <section class="bg-silver portfolio-row">
    <div class="card mb-3">
      <div class="row align-items-center">
        <div class="col-sm-7">
          <Picture
            class="card-img-top d-block d-sm-none pt-5"
            src={zz_mobile}
            widths={[500]}
            alt="Logic Moon"
            sizes=""
          />
          <Picture
            class="card-img-top d-none d-sm-block pt-5"
            src={zz}
            alt="Logic Moon"
            widths={[300, 420, 650]}
            sizes="(max-width: 767px) 300px,(max-width:1199px) 420px, (min-width: 1200px) 650px"
            formats={["webp"]}
          />
        </div>

        <div class="col-sm-5">
          <div class="card-body">
            <h5 class="card-title">Zuerizahnie</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              Webdevelopment, Wordpress Theming in HTML/PHP
            </h6>
            <p class="card-text">
              Die gestellte Aufgabe war anspruchsvoll: Aus einem bestehenden
              Build musste ein individuelles WordPress Theme erstellt werden,
              das auf Bootstrap basiert und die Unterstützung von Elementor
              beinhaltet. Die bereits vorhandenen Funktionen mussten auf der
              Frontend-Seite übernommen werden, während auf anderen Seiten
              Elementor laufen sollte.
            </p>
            <p class="card-text">
              <i class="fab fa-js"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-css3"></i>
              <i class="fab fa-wordpress"></i>
            </p>

            <p class="card-footer">
              <span class="badge bg-erieblack">HTML</span>
              <span class="badge bg-erieblack">CSS</span>
              <span class="badge bg-erieblack">Wordpress</span>
              <span class="badge bg-erieblack">Elementor</span>
              <span class="badge bg-erieblack">Bootstrap</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  Bo 1 Ende -->

  <!-- Getucated -->
  <section class="bg-silver portfolio-row">
    <div class="card mb-3">
      <div class="row align-items-center">
        <div class="col-sm-7">
          <Picture
            class="card-img-top d-block d-sm-none border mt-3"
            src={getucated_img_mobile}
            alt="Getucated App"
            widths={[250, 300]}
            sizes="300px"
            formats={["webp"]}
          />
          <div
            id="carouselIndicators"
            class="carousel slide d-none d-sm-block"
            data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"></button>
              <button
                type="button"
                data-bs-target="#carouselIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button
                type="button"
                data-bs-target="#carouselIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src={getucated_app.src} class="d-block" alt="..." />
              </div>

              <div class="carousel-item">
                <div class="mx-auto">
                  <img src={getucated_app2.src} class="d-block" alt=" ..." />
                </div>
              </div>
              <div class="carousel-item">
                <div class="mx-auto">
                  <img src={getucated_app3.src} class="d-block" alt="..." />
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"
              ></span>
              <span class="visually-hidden">Zurück</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"
              ></span>
              <span class="visually-hidden">Vor</span>
            </button>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="card-body">
            <h5 class="card-title">Getucated</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              Hybrid App für iOS und Android
            </h6>
            <p class="card-text">
              Getucated war und ist ein einzigartiges und spannendes Projekt für
              Tobeworks, da es sich um eine Bildungs-App handelte, die von Grund
              auf neu entwickelt wurde. Das Team hat nicht nur das Design und
              Konzept entworfen, sondern auch die technische Leitung übernommen,
              um sicherzustellen, dass das Endprodukt höchsten Standards
              entspricht. Eine der größten Herausforderungen bei der Entwicklung
              von Getucated bestand darin, den vorhandenen Inhalt zu
              verarbeiten, der aus verschiedenen Quellen stammte. Hierbei wurde
              eine maßgeschneiderte Konvertierungsschnittstelle in PHP
              implementiert, um den Prozess zu erleichtern. Die App wurde mit
              dem ionic Framework, React und Typescript für iOS und Android
              entwickelt, um eine reibungslose und nahtlose Benutzererfahrung zu
              gewährleisten. Getucated ist nun in den App-Stores verfügbar und
              wird von einer wachsenden Nutzerbasis genutzt.
            </p>
            <p class="card-text">
              <i class="fab fa-html5"></i>
              <i class="fab fa-css3"></i>
              <i class="fab fa-npm"></i>
              <i class="fab fa-js"></i>
            </p>
            <p class="card-footer">
              <span class="badge bg-erieblack">HTML</span>
              <span class="badge bg-erieblack">CSS</span>
              <span class="badge bg-erieblack">NPM</span>
              <span class="badge bg-erieblack">Typescript</span>
              <span class="badge bg-erieblack">Ionic Framework</span>
              <span class="badge bg-erieblack">Capacitor</span>
              <span class="badge bg-erieblack">iOS</span>
              <span class="badge bg-erieblack">Android</span>
            </p>
            <div>
              <a
                href="/showcase/getucated-app"
                class="btn btn-erieblack btn-sm my-3"
                >Zum Showcase <i class="fa-solid fa-caret-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Getucated Ende-->

  <section class="bg-silver portfolio-row">
    <div class="card mb-3">
      <div class="row align-items-center">
        <div class="col-sm-7" style="">
          <Picture
            class="card-img-top d-block d-sm-none pt-5"
            src={logicmoon_mobile}
            widths={[500]}
            alt="Logic Moon"
            sizes=""
          />
          <Picture
            class="card-img-top d-none d-sm-block pt-5"
            src={logicmoon_full}
            alt="Logic Moon"
            widths={[300, 420, 650]}
            sizes="(max-width: 767px) 300px,(max-width:1199px) 420px, (min-width: 1200px) 650px"
            formats={["webp"]}
          />
        </div>

        <div class="col-sm-5">
          <div class="card-body">
            <h5 class="card-title">Logic Moon</h5>
            <h6 class="card-subtitle mb-2 text-muted">Portfolio-Webseite</h6>
            <p class="card-text">
              Bei diesem Projekt wurde ein Screendesign mit der Design-Software
              Figma erstellt und anschließend in HTML und CSS umgesetzt. Dabei
              wurden spezielle Effekte eingesetzt, um das Design noch
              ansprechender zu gestalten. Tobeworks hat dabei nicht nur das
              Design, sondern auch die Frontend-Entwicklung übernommen, um
              sicherzustellen, dass das fertige Produkt den höchsten
              Qualitätsstandards entspricht.
            </p>
            <p class="card-text">
              <i class="fab fa-html5"></i>
              <i class="fab fa-css3"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-npm"></i>
              <i class="fab fa-figma"></i>
            </p>
            <p class="card-footer">
              <span class="badge bg-erieblack">HTML</span>
              <span class="badge bg-erieblack">Adobe XD</span>
              <span class="badge bg-erieblack">NPM</span>

              <span class="badge bg-erieblack">CSS</span>
              <span class="badge bg-erieblack">Bootstrap 5</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-silver portfolio-row">
    <div class="card mb-3">
      <div class="row align-items-center">
        <div class="col-sm-7">
          <img
            class="img-fluid d-none d-sm-block"
            src={gsp.src}
            alt="GSP Steuern Webdesign"
          />
          <img
            class="img-fluid d-block d-sm-none"
            src={gsp_mobile.src}
            alt="GSP Steuern Webdesign"
          />
        </div>
        <div class="col-sm-5">
          <div class="card-body">
            <h5 class="card-title">GSP-Steuern</h5>
            <h6 class="card-subtitle mb-2 text-muted">Steuerberatung</h6>
            <p class="card-text">
              Die renommierte Steuerberatungskanzlei Gerhard & Sinke aus
              Grünberg hat ihre Website mithilfe von Wordpress und dem
              DIVI-Framework erstellt. Das Design basierte auf einer Adobe
              XD-Vorlage, die anschließend durch HTML, PHP und CSS umgesetzt
              wurde. Tobeworks übernahm die technische Leitung bei der Umsetzung
              des Projekts, um sicherzustellen, dass alle Aspekte reibungslos
              funktionieren. Die Website präsentiert das Unternehmen und seine
              Dienstleistungen auf ansprechende Weise und bietet den Besuchern
              eine benutzerfreundliche Erfahrung.
            </p>

            <p class="card-text">
              <i class="fab fa-html5"></i>
              <i class="fab fa-css3"></i>
              <i class="fab fa-wordpress"></i>
            </p>

            <p class="card-footer">
              <span class="badge bg-erieblack">Wordpress 5</span>
              <span class="badge bg-erieblack">HTML</span>
              <span class="badge bg-erieblack">DIVI</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-silver portfolio-row">
    <div class="card mb-3">
      <div class="row align-items-center">
        <div class="col-sm-7">
          <img
            class="img-fluid d-none d-sm-block"
            src={iihd.src}
            alt="IIHD Webseite"
          />
          <img
            class="img-fluid d-block d-sm-none"
            src={iihd_mobile.src}
            alt="IIHD Webseite"
          />
        </div>
        <div class="col-sm-5">
          <div class="card-body">
            <h5 class="card-title">IIHD</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              Homepage und Content-Portal
            </h6>
            <p class="card-text">
              Das Institut für Internationales Handels- und
              Distributionsmanagement mit Sitz in Mainz, hat seine neue Website
              mit Hilfe von Wordpress und dem DIVI Framework umgesetzt.
              Tobeworks übernahm die technische Leitung und entwickelte die
              notwendigen Komponenten in HTML, PHP und CSS, um die ansprechende
              Benutzeroberfläche zu realisieren.<br />
              Dabei legte Tobeworks großen Wert auf eine intuitive und übersichtliche
              Navigation, um den Besuchern der Webseite ein angenehmes Nutzererlebnis
              zu bieten. Eine besondere Herausforderung bestand darin, die umfangreichen
              Informationen des Instituts in einer strukturierten und zugleich ansprechenden
              Form darzustellen.
            </p>

            <p class="card-text">
              <i class="fab fa-html5"></i>
              <i class="fab fa-css3"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-js-square"></i>
              <i class="fab fa-php"></i>
            </p>
            <p class="card-footer">
              <span class="badge bg-erieblack">PHP</span>
              <span class="badge bg-erieblack">Wordpress 5</span>
              <span class="badge bg-erieblack">HTML</span>
              <span class="badge bg-erieblack">DIVI</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-silver portfolio-row">
    <div class="card mb-3">
      <div class="row align-items-center">
        <div class="col-sm-7">
          <img
            class="img-fluid d-none d-sm-block"
            src={vr.src}
            alt="Vintage Revivals Webdesign"
          />
          <img
            class="img-fluid d-block d-sm-none"
            src={vr_mobile.src}
            alt="Vintage Revivals Webdesign"
          />
        </div>
        <div class="col-sm-5">
          <div class="card-body">
            <h5 class="card-title">Vintage Revivals</h5>
            <h6 class="card-subtitle mb-2 text-muted">Portfolio Website</h6>
            <p class="card-text">
              Vintage Revivals ist eine Marke, die sich auf einzigartiges Design
              und Handwerkskunst spezialisiert hat. Als Teil des Engagements von
              Tobeworks für die Förderung von Kreativität und Handwerkskunst
              wurde die Online-Präsenz von Vintage Revivals in Form eines
              modernen Wordpress CMS erstellt und von Tobeworks gepflegt.
            </p>
            <p class="card-text">
              <i class="fab fa-html5"></i>
              <i class="fab fa-css3"></i>
              <i class="fab fa-wordpress"></i>
            </p>

            <p class="card-footer">
              <span class="badge bg-erieblack">Wordpress</span>
              <span class="badge bg-erieblack">HTML</span>
              <span class="badge bg-erieblack">Bootstrap 3</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-silver portfolio-row">
    <div class="card mb-3">
      <div class="row align-items-center">
        <div class="col-sm-7">
          <img
            class="img-fluid d-none d-sm-block"
            src={rp24.src}
            alt="Restposten24 Webdesign"
          />
          <img
            class="img-fluid d-block d-sm-none"
            src={rp24_mobile.src}
            alt="Restposten24 Webdesign"
          />
        </div>
        <div class="col-sm-5">
          <div class="card-body">
            <h5 class="card-title">Restposten24</h5>
            <h6 class="card-subtitle mb-2 text-muted">B2B-Handelsplattform</h6>
            <p class="card-text">
              Restposten24 ist das größte deutsche Handelsportal für Restposten
              und hat sich in der Branche etabliert. Neben dem nationalen
              Ableger gibt es auch den internationalen Ableger Stocklots24,
              welcher sich auf den Verkauf von Restposten auf dem europäischen
              Markt spezialisiert hat. Die komplette Backend- und
              Frontend-Entwicklung beider Portale wurde von Tobeworks in PHP5/7,
              HTML, CSS und Bootstrap umgesetzt. Darüber hinaus wurde die
              technische Leitung übernommen und zahlreiche Module entworfen und
              optimiert, um ein optimales Kundenerlebnis zu gewährleisten. Auch
              die SEO-Optimierung spielte eine große Rolle, um eine maximale
              Sichtbarkeit der Portale in den Suchmaschinen zu erreichen.
            </p>

            <p class="card-text">
              <i class="fab fa-html5"></i>
              <i class="fab fa-css3"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-js-square"></i>
              <i class="fab fa-php"></i>
            </p>
            <p class="card-footer">
              <span class="badge bg-erieblack">PHP</span>
              <span class="badge bg-erieblack">mySQL</span>
              <span class="badge bg-erieblack">Linux</span>
              <span class="badge bg-erieblack">Elasticsearch</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-silver portfolio-row">
    <div class="card mb-3">
      <div class="row align-items-center">
        <div class="col-sm-7">
          <img src={mif.src} class="img-fluid d-none d-sm-block" alt="image" />
          <img
            src={mif_mobile.src}
            class="img-fluid d-block d-sm-none"
            alt="image"
          />
        </div>
        <div class="col-sm-5">
          <div class="card-body">
            <h5 class="card-title">Medinform</h5>
            <h6 class="card-subtitle mb-2 text-muted">Shopsystem</h6>
            <p class="card-text">
              Aufbau Shopsystem, Kundenberatung, Koordiantion, Entwicklung,
              Design
            </p>
            <p class="card-text">
              <i class="fab fa-html5"></i>
              <i class="fab fa-css3"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-js-square"></i>
              <i class="fab fa-php"></i>
            </p>
            <p class="card-footer">
              <span class="badge bg-erieblack">HTML</span>
              <span class="badge bg-erieblack">CSS</span>
              <span class="badge bg-erieblack">Wordpress</span>
              <span class="badge bg-erieblack">Woocommerce</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-silver portfolio-row">
    <div class="card mb-3">
      <div class="row align-items-center">
        <div class="col-sm-7">
          <img class="img-fluid" src={lul.src} alt="Lifter und Lauch" />
        </div>
        <div class="col-sm-5">
          <div class="card-body">
            <h5 class="card-title">Lifter und Lauch</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              Portfolio Kooperationswebseite
            </h6>
            <p class="card-text">HTML, CSS</p>
            <p class="card-text">
              <i class="fab fa-html5"></i>
              <i class="fab fa-css3"></i>
              <i class="fab fa-bootstrap"></i>
            </p>
            <p class="card-footer">
              <span class="badge bg-erieblack">HTML</span>
              <span class="badge bg-erieblack">CSS</span>
              <span class="badge bg-erieblack">Bootstrap</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <Footer />
</Layout>
