---
import react from "../assets/images/carousel/react.svg"
import gears from "../assets/images/carousel/gears.svg"
import wordpress from "../assets/images/carousel/wordpress_stroke.svg"
import techphp from "../assets/images/tech/php.svg"
import figma from "../assets/images/carousel/figma.svg"
import techreact from "../assets/images/tech/react.svg"
import techjs from "src/assets/images/tech/js.svg"
import techgithub from "src/assets/images/tech/github.svg"
import technpm from "src/assets/images/tech/npm.svg"
import techwp from "src/assets/images/tech/wordpress.svg"
import techhtml from "src/assets/images/tech/HTML.svg"
import techcss from "src/assets/images/tech/CSS.svg"
import tobeworkslogo from "src/assets/images/logos/TobeworksLogo.svg"
---

<main id="content-middle">
  <section
    class="bg-erieblack text-orange mainsection titlesection d-none d-xl-block">
    <div style="" class="titlerow row align-items-end">
      <div class="col-sm-6 align-self-end">
        <div id="mover">
          <h2 class="cover my-2" data-aos="fade-up" data-aos-duration="300">
            Das Große Ganze im Blick
          </h2>

          <p
            id="typewriter"
            class="lead"
            data-aos="fade-up"
            data-aos-duration="500">
            TOBEWORKS bietet zeitgerechte, maßgeschneiderte,<br />
            digitale
            <strong>Kommunikationslösungen.</strong>
          </p>

          <div id="typewriter-hidden">
            <div id="typewriter-hidden-1">
              TOBEWORKS bietet zeitgerechte, maßgeschneiderte,<br />
              digitale
              <strong>Kommunikationslösungen.</strong>
            </div>
            <div id="typewriter-hidden-2">
              TOBEWORKS designt, automatisiert und programmiert. Damit Sie sich
              noch besser um Ihr
              <b>Kerngeschäft</b>
              kümmern können.
            </div>

            <div id="typewriter-hidden-3">
              TOBEWORKS bringt Ihr Geschäft durch
              <b>Automation</b>
              und
              <b>Digitalisierung</b>
              auf ein neues Level
            </div>
          </div>

          <div>
            <a
              href="/about"
              class="btn btn-erieblack my-2"
              data-aos="fade-up"
              data-aos-delay="200">Um was geht`s hier?</a
            >
            <a
              href="/kontakt#contentStart"
              class="btn btn-orange my-2"
              data-aos="fade-up"
              data-aos-delay="300">Kostenloses Erstgespräch</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-6 align-self-end pr-0">
        <div
          id="carousel"
          class="carousel slide carousel-fade"
          data-bs-ride="carousel"
          data-aos="fade-in"
          data-aos-duration="1000"
          data-aos-delay="500">
          <div class="carousel-inner">
            <div class="carousel-item">
              <div class="carousel-block" id="carousel-page1">
                <div class="carousel-img">
                  <img
                    src={react.src}
                    class="img-fluid"
                    alt="app development react logo"
                  />
                </div>
                <div class="carousel-body">
                  <div class="carousel-flex d-flex justify-content-between">
                    <div class="p-2 bd-highlight">
                      <a
                        href="#!"
                        class="btn btn-link"
                        data-bs-target="#carousel"
                        data-bs-slide="prev">
                        <i class="bi bi-caret-left-fill"></i>
                      </a>
                    </div>
                    <div class="p-2 bd-highlight">
                      <h4>App Development</h4>
                    </div>
                    <div class="p-2 bd-highlight">
                      <a
                        href="#!"
                        class="btn btn-link"
                        data-bs-target="#carousel"
                        data-bs-slide="next">
                        <i class="bi bi-caret-right-fill"></i>
                      </a>
                    </div>
                  </div>
                  <div class="carousel-text">
                    Wir entwicklen mobile Apps für nahezu alle Usecases. Hybrid
                    für iOS und Android.
                  </div>
                </div>
                <div class="carousel-footer text-center p-2">
                  <img src={technpm.src} alt="npm" />
                  <img src={techreact.src} alt="react" />
                  <img src={techjs.src} alt="Javascript" />
                </div>
              </div>
            </div>
            <div class="carousel-item active">
              <div class="carousel-block" id="carousel-page2">
                <div class="carousel-img">
                  <img
                    src={gears.src}
                    class="img-fluid"
                    alt="app development react logo"
                  />
                </div>
                <div class="carousel-body">
                  <div class="carousel-flex d-flex justify-content-between">
                    <div class="p-2 bd-highlight">
                      <a
                        href="#!"
                        class="btn btn-link"
                        data-bs-target="#carousel"
                        data-bs-slide="prev">
                        <i class="bi bi-caret-left-fill"></i>
                      </a>
                    </div>
                    <div class="p-2 bd-highlight">
                      <h4>Web Development</h4>
                    </div>
                    <div class="p-2 bd-highlight">
                      <a
                        href="#!"
                        class="btn btn-link"
                        data-bs-target="#carousel"
                        data-bs-slide="next">
                        <i class="bi bi-caret-right-fill"></i>
                      </a>
                    </div>
                  </div>
                  <div class="carousel-text">
                    Die von uns entwickelte Anwendung wird benutzerfreundlich
                    und leicht verständlich sein.
                  </div>
                </div>
                <div class="carousel-footer text-center p-2">
                  <img src={techphp.src} alt="php" />
                  <img src={techreact.src} alt="react.js" />
                  <img src={techjs.src} alt="Jvascript" />
                  <img src={technpm.src} alt="npm" />
                  <img src={techgithub.src} alt="github" />
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="carousel-block" id="carousel-page4">
                <div class="carousel-img">
                  <img
                    src={wordpress.src}
                    class="img-fluid"
                    alt="Wordpress logo"
                  />
                </div>
                <div class="carousel-body">
                  <div class="carousel-flex d-flex justify-content-between">
                    <div class="p-2 bd-highlight">
                      <a
                        href="#!"
                        class="btn btn-link"
                        data-bs-target="#carousel"
                        data-bs-slide="prev">
                        <i class="bi bi-caret-left-fill"></i>
                      </a>
                    </div>
                    <div class="p-2 bd-highlight">
                      <h4>Wordpress Support</h4>
                    </div>
                    <div class="p-2 bd-highlight">
                      <a
                        href="#!"
                        class="btn btn-link"
                        data-bs-target="#carousel"
                        data-bs-slide="next">
                        <i class="bi bi-caret-right-fill"></i>
                      </a>
                    </div>
                  </div>
                  <div class="carousel-text">
                    Tobeworks findet die passende Lösung für Ihr
                    Wordpress-Projekt.
                  </div>
                </div>
                <div class="carousel-footer text-center p-2">
                  <img src={techwp.src} alt="wordpress" />
                  <img src={techhtml.src} alt="npm" />
                  <img src={techcss.src} alt="npm" />
                  <img src={techjs.src} alt="npm" />
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="carousel-block" id="carousel-page3">
                <div class="carousel-img">
                  <img src={figma.src} class="img-fluid" alt="webdesign logo" />
                </div>
                <div class="carousel-body">
                  <div class="carousel-flex d-flex justify-content-between">
                    <div class="p-2 bd-highlight">
                      <a
                        href="#!"
                        class="btn btn-link"
                        data-bs-target="#carousel"
                        data-bs-slide="prev">
                        <i class="bi bi-caret-left-fill"></i>
                      </a>
                    </div>
                    <div class="p-2 bd-highlight">
                      <h4>Webdesign</h4>
                    </div>
                    <div class="p-2 bd-highlight">
                      <a
                        href="#!"
                        class="btn btn-link"
                        data-bs-target="#carousel"
                        data-bs-slide="next">
                        <i class="bi bi-caret-right-fill"></i>
                      </a>
                    </div>
                  </div>
                  <div class="carousel-text">
                    Von der ersten Skizze bis hin zum fertigen, auf Sie
                    zugeschnittenen Produkt - Ein gelungenes Design zeichnet
                    sich durch eine benutzerfreundliche und übersichtliche
                    Struktur aus.
                  </div>
                </div>
                <div class="carousel-footer text-center p-2">
                  <img src={techhtml.src} alt="npm" />
                  <img src={techcss.src} alt="npm" />
                  <img src={techjs.src} alt="npm" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="bg-erieblack text-orange section-mobile d-flex align-items-center d-xl-none">
    <div class="px-4 mx-auto" id="start-logo-block">
      <img
        src={tobeworkslogo.src}
        class="img-fluid"
        alt="logo"
        data-aos="fade-down"
      />
      <h2 data-aos="fade-up" data-aos-delay="500" class="mt-4">Websolutions</h2>
      <a href="" class="title-arrow-down">
        <i class="fa-solid fa-arrow-down"></i>
      </a>
    </div>
  </section>

  <section class="bg-silver text-erieblack mainsection" id="contentStart">
    <div class="p-2 p-md-5 text-center">
      <img
        src={tobeworkslogo.src}
        class="img-fluid d-none d-lg-inline"
        alt="Tobeworks Logo"
        title="tobeworks Logo"
        data-aos="fade-up"
      />
      <div class="text-center">
        <h3 class="text-center my-3" data-aos="fade-up">
          Full-Service seit 2018
        </h3>
        <p data-aos="fade-up fs-2">
          Tobeworks bietet zeitgemäße und maßgeschneiderte
          Kommunikationslösungen, indem ich die kreative Leistung einer
          Webagentur mit dem technologischen Know-how einer
          Softwareentwicklungs-Agentur kombiniere.<br /> Von der Idee bis zum fertigen
          Produkt erhalten Sie alles aus einer Hand. Hier gibt es keine unnötigen
          Extras, sondern nur innovative Technologien.
        </p>
        <p>
          <a
            href="/kontakt#contentStart"
            class="btn btn-erieblack"
            data-aos="fade-up"
            data-aos-delay="300">Kostenlos Kontakt aufnehmen</a
          >
        </p>
      </div>
    </div>
  </section>

  <section class="bg-orange text-erieblack cutsection" id="special">
    <div class="row">
      <div class="col-sm-7 align-self-center text-silver" data-aos="fade-right">
        <div class="cut-left">
          <h3>Warum Tobeworks?</h3>
          <p>
            Wir bieten Lösungen. Tobeworks ist ein interdisziplinäres
            Unternehmen, das Full-Stack-Entwicklung beherrscht.<br /> Als Technerds
            und Spezialisten haben wir umfassende Branchenerfahrung und kümmern sich
            von der Entwurfsphase bis zur fertigen Softwarelösung sowie dem sicheren
            Hosting um alles aus einer Hand.
          </p>
          <p>
            <a href="/kontakt#contentStart" class="btn btn-erieblack"
              >Kostenloses Erstgespräch</a
            >
          </p>
        </div>
      </div>

      <div class="col-sm-5 align-self-start p-5">
        <div class="card" data-aos="fade-top">
          <div class="card-body">
            <h5 class="card-title">
              <i class="bi bi-broadcast"></i>
              Beratung
            </h5>
            <p class="card-text">
              Eine erfolgreiche Umsetzung erfordert eine gründliche Beratung im
              Vorfeld. Bei Tobeworks arbeiten wir eng mit Ihnen zusammen, um ein
              maßgeschneidertes Konzept zu entwickeln, das Ihre Ziele und
              Anforderungen optimal erfüllt.
            </p>
            <a href="/kontakt#contentStart" class="btn btn-silver btn-sm"
              >Mehr erfahren</a
            >
          </div>
        </div>

        <div class="card" data-aos="fade-top">
          <div class="card-body">
            <h5 class="card-title">
              <i class="bi bi-broadcast"></i>
              Entwicklung
            </h5>
            <p class="card-text">
              Projekte werden #agil in ständiger Kommunikation mit dem Kunden
              realisiert.
            </p>
            <a href="/kontakt#contentStart" class="btn btn-silver btn-sm"
              >Mehr erfahren</a
            >
          </div>
        </div>

        <div class="card" data-aos="fade-top">
          <div class="card-body">
            <h5 class="card-title">
              <i class="bi bi-broadcast"></i>
              Infrastruktur
            </h5>
            <p class="card-text">
              Der Erfolg Ihres Projekts ist nur mit der richtigen Infrastruktur
              gesichert. Tobeworks kümmert sich um alles vom Server über
              Sicherheit, bis zum Backup.
            </p>
            <a href="/kontakt#contentStart" class="btn btn-silver btn-sm"
              >Mehr erfahren</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-silver text-erieblack mainsection" id="brands">
    <div class="">
      <h2 data-aos="fade-up" class="text-center">Software-Technologien</h2>
      <p class="lead text-center">Für meine Kunden nur vom Feinsten</p>
      <div class="w-50 mx-auto mt-5 mb-n5">
        <div class="row">
          <div
            class="d-flex align-items-center justify-content-center"
            data-aos="fade-up">
            <i
              class="fab fa-php"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="PHP"></i>
            <i
              class="fab fa-js-square"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Javascript"></i>
            <i
              class="fab fa-html5"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="HTML 5"></i>
            <i
              class="fab fa-css3-alt"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="CSS 3"></i>
            <i
              class="fab fa-wordpress"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Wordpress Professional"></i>
          </div>
        </div>

        <div class="row">
          <div
            class="d-flex align-items-center justify-content-center"
            data-aos="fade-up">
            <i
              class="fab fa-react"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="React"></i>
            <i
              class="fab fa-github"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Github"></i>
            <i
              class="fab fa-apple"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Apple"></i>
            <i
              class="fab fa-centos"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="CentOS"></i>
            <i
              class="fab fa-linux"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Linux"></i>
          </div>
        </div>

        <div class="row">
          <div
            class="d-flex align-items-center justify-content-center"
            data-aos="fade-up">
            <i
              class="fab fa-python"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Python"></i>
            <i
              class="fab fa-vuejs"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Vue"></i>
            <i
              class="fab fa-git-square"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Git"></i>
            <i
              class="fab fa-cc-paypal"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Paypal (API)"></i>
            <i
              class="fab fa-bootstrap"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Bootstrap Framwork"></i>
          </div>
        </div>

        <div class="row">
          <div
            class="d-flex align-items-center justify-content-center"
            data-aos="fade-up">
            <i
              class="fab fa-google"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Google API"></i>
            <i
              class="fab fa-sass"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="SASS"></i>
            <i
              class="fab fa-slack"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Slack"></i>
            <i
              class="fab fa-yarn"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="yarn"></i>
            <i
              class="fab fa-symfony"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Symfony"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
