---
import react from "../assets/images/carousel/react.svg"
import gears from "../assets/images/carousel/gears.svg"
import wordpress from "../assets/images/carousel/wordpress_stroke.svg"
import techphp from "../assets/images/tech/php.svg"
import figma from "../assets/images/carousel/figma.svg"
import techreact from "../assets/images/tech/react.svg"
import techjs from "src/assets/images/tech/js.svg"
import techgithub from "src/assets/images/tech/github.svg"
import technpm from "src/assets/images/tech/npm.svg"
import techwp from "src/assets/images/tech/wordpress.svg"
import techhtml from "src/assets/images/tech/HTML.svg"
import techcss from "src/assets/images/tech/CSS.svg"
import tobeworkslogo from "src/assets/images/logos/TobeworksLogo.svg"
import tobeworkslogo_small from "src/assets/images/logos/TW-EB5E28.svg"
import Accordion from "../components/Accordion.astro"
import CTA from "../components/CTA.astro"
import Hero from "../components/Hero.astro"
import Social from "../components/Social.astro"
import MainCard from "../components/MainPage-Cards.astro"
---

<main id="content-middle">
  <!-- Cover desktop -->
  <section
    class="bg-erieblack text-orange mainsection titlesection d-none d-xl-block">
    <div style="" class="titlerow row align-items-end">
      <div class="col-sm-6 align-self-end">
        <div id="mover">
          <div class="lead">
            Beeindruckende und intuitive Web-Erlebnisse, <br /> die Marken und Menschen
            verbinden
          </div>
          <h1 class="cover my-2" data-aos="fade-up" data-aos-duration="300">
            Einzigartige Webentwicklung<br /> für einzigartige Kunden
          </h1>

          <!-- <div class="">
            <p
              id="typewriter"
              class="lead"
              data-aos="fade-up"
              data-aos-duration="500">
            </p>

            <div id="typewriter-hidden">
              <div id="typewriter-hidden-1">
                bei TOBEWORKS bekommst Du professionelle Web-Entwicklung
              </div>
              <div id="typewriter-hidden-2">
                bei TOBEWORKS bekommst Du professionelle App-Entwicklung
              </div>

              <div id="typewriter-hidden-3">
                die Dich ganz nach oben katapultiert
              </div>
            </div>
          </div> -->
          <div>
            <a
              href="/kontakt#contentStart"
              class="btn btn-erieblack my-2"
              data-aos="fade-up"
              data-aos-delay="300">Jetzt kostenloses Erstgespräch vereinbaren</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-6 align-self-end pr-0">
        <div
          id="carousel"
          class="carousel slide carousel-fade"
          data-bs-ride="carousel"
          data-aos="fade-in"
          data-aos-duration="1000"
          data-aos-delay="500">
          <div class="carousel-inner">
            <div class="carousel-item">
              <div class="carousel-block" id="carousel-page1">
                <div class="carousel-img">
                  <img
                    src={react.src}
                    class="img-fluid"
                    alt="app development react logo"
                  />
                </div>
                <div class="carousel-body">
                  <div class="carousel-flex d-flex justify-content-between">
                    <div class="p-2 bd-highlight">
                      <button
                        class="btn btn-link"
                        data-bs-target="#carousel"
                        data-bs-slide="prev"
                        aria-label="Zurück zum vorherigen Slide">
                        <i class="bi bi-caret-left-fill"></i>
                      </button>
                    </div>
                    <div class="p-2 bd-highlight">
                      <h3>App Development</h3>
                    </div>
                    <div class="p-2 bd-highlight">
                      <button
                        class="btn btn-link"
                        data-bs-target="#carousel"
                        data-bs-slide="next"
                        aria-label="Zurück zum nächsten Slide">
                        <i class="bi bi-caret-right-fill"></i>
                      </button>
                    </div>
                  </div>
                  <div class="carousel-text">
                    Wir entwicklen mobile Apps für nahezu alle Usecases. Hybrid
                    für iOS und Android.
                  </div>
                </div>
                <div class="carousel-footer text-center p-2">
                  <img src={technpm.src} alt="npm" />
                  <img src={techreact.src} alt="react" />
                  <img src={techjs.src} alt="Javascript" />
                </div>
              </div>
            </div>
            <div class="carousel-item active">
              <div class="carousel-block" id="carousel-page2">
                <div class="carousel-img">
                  <img
                    src={gears.src}
                    class="img-fluid"
                    alt="app development react logo"
                  />
                </div>
                <div class="carousel-body">
                  <div class="carousel-flex d-flex justify-content-between">
                    <div class="p-2 bd-highlight">
                      <button
                        class="btn btn-link"
                        data-bs-target="#carousel"
                        data-bs-slide="prev"
                        aria-label="Zurück zum vorherigen Slide">
                        <i class="bi bi-caret-left-fill"></i>
                      </button>
                    </div>
                    <div class="p-2 bd-highlight">
                      <h3>Web Development</h3>
                    </div>
                    <div class="p-2 bd-highlight">
                      <button
                        class="btn btn-link"
                        data-bs-target="#carousel"
                        data-bs-slide="next"
                        aria-label="Zurück zum nächsten Slide">
                        <i class="bi bi-caret-right-fill"></i>
                      </button>
                    </div>
                  </div>
                  <div class="carousel-text">
                    Die von uns entwickelte Anwendung wird benutzerfreundlich
                    und leicht verständlich sein.
                  </div>
                </div>
                <!-- <div class="carousel-footer text-center p-2">
                  <img src={techphp.src} alt="php" />
                  <img src={techreact.src} alt="react.js" />
                  <img src={techjs.src} alt="Jvascript" />
                  <img src={technpm.src} alt="npm" />
                  <img src={techgithub.src} alt="github" />
                </div> -->
              </div>
            </div>

            <div class="carousel-item">
              <div class="carousel-block" id="carousel-page4">
                <div class="carousel-img">
                  <img
                    src={wordpress.src}
                    class="img-fluid"
                    alt="Wordpress logo"
                  />
                </div>
                <div class="carousel-body">
                  <div class="carousel-flex d-flex justify-content-between">
                    <div class="p-2 bd-highlight">
                      <button
                        class="btn btn-link"
                        data-bs-target="#carousel"
                        data-bs-slide="prev"
                        aria-label="Zurück zum vorherigen Slide">
                        <i class="bi bi-caret-left-fill"></i>
                      </button>
                    </div>
                    <div class="p-2 bd-highlight">
                      <h3>Wordpress Support</h3>
                    </div>
                    <div class="p-2 bd-highlight">
                      <button
                        class="btn btn-link"
                        data-bs-target="#carousel"
                        data-bs-slide="next"
                        aria-label="Zurück zum nächsten Slide">
                        <i class="bi bi-caret-right-fill"></i>
                      </button>
                    </div>
                  </div>
                  <div class="carousel-text">
                    Tobeworks findet die passende Lösung für Ihr
                    Wordpress-Projekt.
                  </div>
                </div>
                <!-- <div class="carousel-footer text-center p-2">
                  <img src={techwp.src} alt="wordpress" />
                  <img src={techhtml.src} alt="npm" />
                  <img src={techcss.src} alt="npm" />
                  <img src={techjs.src} alt="npm" />
                </div> -->
              </div>
            </div>

            <div class="carousel-item">
              <div class="carousel-block" id="carousel-page3">
                <div class="carousel-img">
                  <img src={figma.src} class="img-fluid" alt="webdesign logo" />
                </div>
                <div class="carousel-body">
                  <div class="carousel-flex d-flex justify-content-between">
                    <div class="p-2 bd-highlight">
                      <button
                        class="btn btn-link"
                        data-bs-target="#carousel"
                        data-bs-slide="prev"
                        aria-label="Zurück zum nächsten Slide">
                        <i class="bi bi-caret-left-fill"></i>
                      </button>
                    </div>
                    <div class="p-2 bd-highlight">
                      <h3>Webdesign</h3>
                    </div>
                    <div class="p-2 bd-highlight">
                      <button
                        class="btn btn-link"
                        data-bs-target="#carousel"
                        data-bs-slide="next"
                        aria-label="Zurück zum vorherigen Slide">
                        <i class="bi bi-caret-right-fill"></i>
                      </button>
                    </div>
                  </div>
                  <div class="carousel-text">
                    Von der ersten Skizze bis hin zum fertigen, auf Sie
                    zugeschnittenen Produkt - Ein gelungenes Design zeichnet
                    sich durch eine benutzerfreundliche und übersichtliche
                    Struktur aus.
                  </div>
                </div>
                <!-- <div class="carousel-footer text-center p-2">
                  <img src={techhtml.src} alt="npm" />
                  <img src={techcss.src} alt="npm" />
                  <img src={techjs.src} alt="npm" />
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="my-5 d-flex justify-content-center align-items-center text-center text-silver" data-aos="fade-up">
        <div class="w-25">
          <i class="fab fa-php logo-big" aria-hidden="true"></i>
        </div>
        <div class="w-25">
          <i class="fab fa-js logo-big" aria-hidden="true"></i>
        </div>
        <div class="w-25">
          <i class="fab fa-python logo-big" aria-hidden="true"></i>
        </div>
        <div class="w-25">
          <i class="fab fa-vuejs logo-big" aria-hidden="true"></i>
        </div>
        <div class="w-25">
          <i class="fab fa-react logo-big" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </section>
  <!-- Cover desktop end -->

  <!-- Cover mobile -->
  <section
    class="bg-erieblack text-orange section-mobile d-flex align-items-center d-xl-none">
    <div class="px-4 mx-auto" id="start-logo-block">
      <img
        src={tobeworkslogo.src}
        class="img-fluid"
        alt="logo"
        data-aos="fade-down"
      />
      <h2 data-aos="fade-up" data-aos-delay="500" class="mt-4">Websolutions</h2>
      <a href="#!" class="title-arrow-down" rel="nofollow" title="arrow link">
        <i class="fa-solid fa-arrow-down"></i>
      </a>
    </div>
  </section>
  <!-- Cover mobile end -->

  <section class="bg-erieblack text-silver p-4" id="">

  <h2 data-aos="fade-up" class="sectionhead text-center">Erkennst du dein Projekt wieder?</h2>
    <div class="row justify-content-center">
      <MainCard title="Besuchermangel">Deine Webseite hat keine oder kaum Besucher?</MainCard>
      <MainCard title="Zu lange Ladezeiten">Deine Webseite lädt lange und wirkt überladen?</MainCard>
      <MainCard title="Entwicklungszyklen">Die Entwicklungsprozesse für deine Seiten dauern lange, weil du abhängig von Themes und/oder Plugins von Drittanbietern bist?</MainCard>
      <MainCard title="Schlechte Usability">Deine Webseite ist mit Plugins zugekleistert, die den Ladeprozess immer weiter erhöhen und die Seiten aber immer unzugänglicher machen?</MainCard>
      <MainCard title="Sicherheitsprobleme">Du hast keine Ressourcen um dich ständig mit neuen Sicherheitsproblemen zu beschäftigen?</MainCard>
      <MainCard title="Keine Wartung">Du hast keine Zeit für ständig wiederkehrende Wartungsaufgaben?</MainCard>
    </div>
  </section>

  <Hero />

  <section class="bg-orange text-erieblack cutsection" id="special">
    <div class="row">
      <div class="col-sm-7 align-self-center text-silver" data-aos="fade-right">
        <div class="cut-left">
          <h2>Warum Tobeworks?</h2>
          <p>
            Als Tech-Nerds und Branchen-Spezialisten kümmern wir uns von der
            ersten Idee bis hin zur fertigen Softwarelösung sowie dem sicheren
            Hosting um alles aus einer Hand. Wir sind bereit, Ihre digitale
            Herausforderung anzunehmen und Ihre Online-Präsenz zum Superhelden
            zu machen! <br /> Mit Geld zurück Garantie!
          </p>
          <p>
            <a href="/kontakt#contentStart" class="btn btn-erieblack"
              >Kostenloses Erstgespräch</a
            >
          </p>
        </div>
      </div>

      <div class="col-sm-5 align-self-start p-5">
        <div class="card" data-aos="fade-top">
          <div class="card-body">
            <h4 class="card-title">
              <i class="bi bi-broadcast"></i>
              Beratung
            </h4>
            <p class="card-text">
              Eine erfolgreiche Umsetzung erfordert eine gründliche Beratung im
              Vorfeld. Bei Tobeworks arbeiten wir eng mit Ihnen zusammen, um ein
              maßgeschneidertes Konzept zu entwickeln, das Ihre Ziele und
              Anforderungen optimal erfüllt.
            </p>
            <a
              href="/cms/warum-tobeworks-besser-ist"
              class="btn btn-silver btn-sm">Ich will alles wissen!</a
            >
          </div>
        </div>

        <div class="card" data-aos="fade-top">
          <div class="card-body">
            <h4 class="card-title">
              <i class="bi bi-broadcast"></i>
              Entwicklung
            </h4>
            <p class="card-text">
              Um eine kundenorientierte Umsetzung von Projekten sicherzustellen,
              setzen wir bei Tobeworks auf agile Methoden und eine
              kontinuierliche Kommunikation mit unseren Kunden. Auf diese Weise
              können wir flexibel auf Anforderungen und Änderungswünsche
              reagieren und sicherstellen, dass das Ergebnis den Erwartungen des
              Kunden entspricht.
            </p>
            <a
              href="/cms/warum-tobeworks-besser-ist"
              class="btn btn-silver btn-sm">Ab hier gibt es kein Zurück mehr</a
            >
          </div>
        </div>

        <div class="card" data-aos="fade-top">
          <div class="card-body">
            <h4 class="card-title">
              <i class="bi bi-broadcast"></i>
              Infrastruktur
            </h4>
            <p class="card-text">
              Infrastruktur ist ein entscheidender Faktor für den Erfolg jedes
              Projekts. Ohne die richtige technische Basis kann keine
              hochwertige Software entwickelt werden. Tobeworks bietet eine
              umfassende Betreuung von der Wahl des richtigen Servers über die
              Absicherung der Daten bis hin zur Implementierung von
              Backup-Systemen.
            </p>
            <a
              href="/cms/warum-tobeworks-besser-ist"
              class="btn btn-silver btn-sm">ready to no way back?</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="bg-silver text-erieblack mainsection d-none d-md-block"
    style="min-height:300px">
    <Social />
  </section>

  <section class="bg-erieblack text-silver mainsection">
    <Accordion />
  </section>

  <section class="bg-silver text-erieblack mainsection" id="brands">
    <div class="">
      <h2 data-aos="fade-up" class="text-center">Technologien</h2>
      <p class="lead text-center">
        Bereit für Tech-Chic und Innovation pur? Willkommen bei Tobeworks!
      </p>
      <div class="w-50 mx-auto mt-5 mb-n5">
        <div class="row">
          <div
            class="d-flex align-items-center justify-content-center"
            data-aos="fade-up">
            <i
              class="fab fa-php"
              aria-hidden="true"
              data-bs-toggle="tooltip"
              data-bs-placement="top"></i>
            <i
              class="fab fa-js-square"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              aria-hidden="true"></i>
            <i
              class="fab fa-html5"
              aria-hidden="true"
              data-bs-toggle="tooltip"
              data-bs-placement="top"></i>
            <i
              class="fab fa-css3-alt"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              aria-hidden="true"></i>
            <i
              class="fab fa-wordpress"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              aria-hidden="true"></i>
          </div>
        </div>

        <div class="row">
          <div
            class="d-flex align-items-center justify-content-center"
            data-aos="fade-up">
            <i
              class="fab fa-react"
              aria-hidden="true"
              data-bs-toggle="tooltip"
              data-bs-placement="top"></i>
            <i
              class="fab fa-github"
              aria-hidden="true"
              data-bs-toggle="tooltip"
              data-bs-placement="top"></i>
            <i
              class="fab fa-apple"
              aria-hidden="true"
              data-bs-toggle="tooltip"
              data-bs-placement="top"></i>
            <i class="fab fa-centos" aria-hidden="true" data-bs-toggle="tooltip"
            ></i>
            <i
              class="fab fa-linux"
              aria-hidden="true"
              data-bs-toggle="tooltip"
              data-bs-placement="top"></i>
          </div>
        </div>

        <div class="row">
          <div
            class="d-flex align-items-center justify-content-center"
            data-aos="fade-up">
            <i
              class="fab fa-python"
              aria-hidden="true"
              data-bs-toggle="tooltip"
              data-bs-placement="top"></i>
            <i
              class="fab fa-vuejs"
              aria-hidden="true"
              data-bs-toggle="tooltip"
              data-bs-placement="top"></i>
            <i
              class="fab fa-git-square"
              data-bs-toggle="tooltip"
              data-bs-placement="top"></i>
            <i
              class="fab fa-cc-paypal"
              data-bs-toggle="tooltip"
              data-bs-placement="top"></i>
            <i
              class="fab fa-bootstrap"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              aria-hidden="true"></i>
          </div>
        </div>

        <div class="row">
          <div
            class="d-flex align-items-center justify-content-center"
            data-aos="fade-up">
            <i
              class="fab fa-google"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              aria-hidden="true"></i>
            <i
              class="fab fa-sass"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              aria-hidden="true"></i>
            <i
              class="fab fa-slack"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              aria-hidden="true"></i>
            <i
              class="fab fa-yarn"
              data-bs-toggle="tooltip"
              aria-hidden="true"
              data-bs-placement="top"></i>
            <i
              class="fab fa-symfony"
              aria-hidden="true"
              data-bs-toggle="tooltip"
              data-bs-placement="top"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
