---
import {Image, Picture} from "@astrojs/image/components"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Layout from "../layouts/Layout.astro"

const {
  content: {title, teaser, publishDate, url, img, art = "Blog", tags=['Webdevelopment']},
} = Astro.props
---
<Layout title={title} description={`${title}, ${teaser}`} keywords={tags}>
  <Header />
  <main>
    <article class="blog bg-silver">

      <div class="d-flex w-100 flex-row mb-3  justify-content-sm-start justify-content-md-center p-3 p-md-5">
        <div>
          <Picture
            src={img}
            widths={[250, 350, 480, 650, 900, 1000]}
            alt="fdf"
            aspectRatio="16:9"
            sizes="(max-width: 349px) 250px, (max-width: 499px) 350px,(max-width: 767px) 488px,(max-width: 999px) 650px,(max-width:1199px) 900px, (min-width: 1200px) 1100px"
            formats={["webp"]}
            class="artikel-image"
          />
        </div>
      </div>

      <div class="p-3 p-md-5">
        <h1>{title}</h1>
        <slot />
        <div class="mb-1 text-muted">
          Author: Tobias Lorsbach - <time datetime={publishDate}>
            {
              new Date(publishDate).toLocaleDateString("de-de", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })
            }
          </time>
        </div>
      </div>
    </article>
    
  </main>
  <Footer />
</Layout>