---
// Component Imports
//import {Image, Picture} from "@astrojs/image/components"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Layout from "../layouts/Layout.astro"
import Links from '../components/SEO-Linktree.vue'

const {
  content: {title, teaser, publishDate, url, img, art = "Blog", 
  tags=['Webentwicklung','Tipps und Tricks', 'Wordpress']},
} = Astro.props

const cta = 'Button';
---

<Layout title={title} description={`${title}, ${teaser}`}, keywords={tags}>
  <Header />
  <main>

      <section class="container bg-erieblack text-orange mainsection titlesection">
    <div class="row">
      <div class="col-sm align-self-center title-lead">
        <h2 class="cover my-2 text-center">{title}</h2>
        <p class="lead text-center w-75 mx-auto my-3">
          <strong>{teaser}</strong
          >
        </p>
      </div>
    </div>
    <a href="#!" class="title-arrow-down" rel="nofollow" title="arrow link">
      <i class="fa-solid fa-arrow-down"></i>
    </a>
  </section>
  <span id="contentStart"></span>

     <section class="bg-silver text-erieblack contentsection">
        <slot />
        <Links />
     </section>
  </main>
  <Footer />
</Layout>

