---
import {Image, Picture} from "@astrojs/image/components"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Layout from "../layouts/Layout.astro"
import Links from "../components/SEO-Linktree.vue"
import HeaderImage from "../components/HeaderImage.astro"
import ImageWD from "../components/Image-WD.astro"

import wd1 from "../assets/images/header/header_01.png"
import wd2 from "../assets/images/header/header_02.png"

import wp1 from "../assets/images/header/wp_01.png"
import wp2 from "../assets/images/header/wp_02.png"
import wp3 from "../assets/images/header/wp_03.png"
import wp4 from "../assets/images/header/wp_04.png"
import wp5 from "../assets/images/header/wp_05.png"
import wp6 from "../assets/images/header/wp_06.png"


const {
  content: {title = "Tobeworks Webservices", teaser, tags, icon = false, set = "standard"},
} = Astro.props


const wp_images = [wp1, wp2, wp3, wp4, wp5, wp6]
const st_images = [wd1, wd2]

const getImg = () => {
  let image

  if (set === "standard") {
    image = st_images
  } else {
    image = wp_images
  }

  const randomIndex = Math.floor(Math.random() * image.length)
  return image[randomIndex]
}


const tagList = tags.map((tag) => {
  if (tag != undefined) {
    return `#${tag} `
  }
})

const tagListMeta = tags.map((tag) => {
  let res = ""
  if (tag != undefined) {
    res += `${tag} `
  }
  return res
})

let display_icon
if (icon != false) {
  display_icon = `<i class="${icon}"></i>`
} else {
  display_icon = `<i class="fas fa-user-circle"></i>`
}
---

<Layout title={title} description={`${title}, ${teaser}`} keywords={tags}>
  <Header />
  <main>
    <section class="container bg-erieblack text-orange headersection overflow-hidden">
      <div class="row">
        <div class="col-12 col-md-7 align-self-center">
          <div class="p-3 mt-5 mt-md-0 pt-0 pt-md-1">
            <div class="fs-1 d-block d-sm-none">
              <span set:html={display_icon} />
            </div>
            <h1>{title}</h1>
            <p>{teaser}</p>
          </div>
        </div>
        <div
          class="col col-md-5 d-flex align-items-center justify-content-end d-none d-lg-block text-end">
          <Picture
            src={getImg()}
            alt="Header"
            widths={[250, 300, 400, 1000]}
            sizes="(max-width: 450px) 250px, (max-width: 1200px) 400px, (min-width: 1200px) 700px"
            formats={["webp"]}
            class={`d-block mx-lg-auto heropicture float-right`}
          />
        </div>
      </div>
    </section>

    <span id="contentStart"></span>

    <section class="bg-silver text-erieblack contentsection">
      <slot />
      <div class="my-3">
      <Links /></div>
    </section>
  </main>
  <Footer />
</Layout>

<style lang="scss">
  .headersection {
    padding: 0 0 34px 0;
    .row {
      height: 500px;
    }
  }
  @media only screen and (max-width: 1399.98px) {
    .headersection {
      padding: 0;
      .row {
        height: 390px;
      }
    }

  }

  @media only screen and (max-width: 1199.98px) {
    .headersection {
      padding: 0;
      .row {
        height: 328px;
      }
    }
  }

  .heropicture {
    height: 100%;
    width: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  @media only screen and (max-width: 1399.98px) {

    .heropicture {
    height: 390px;
    width: unset;
    padding: 0px 20px 0 0 !important;
    margin: 0 0px 0 75px !important;
  }
  }
</style>
