---
import Header from "../../components/Header.astro"
import Footer from "../../components/Footer.astro"
import Layout from "../../layouts/Layout.astro"
import ShowcasePicture from "@components/showcasePicture.astro"
import ayurscreen_home from "src/assets/images/screens/ayur_screen_home.png"
import ayurscreen_variant from "src/assets/images/screens/ayur_screen_variant.png"
import ayurscreen_register from "src/assets/images/screens/ayur_screen_register.png"
import ayurscreen_index from "src/assets/images/screens/ayur_screen_index.png"
import ayurscreen_mobile_cart from "src/assets/images/screens/ayur_screen_mobile_cart.png"
import ayurscreen_mobile_index from "src/assets/images/screens/ayur_screen_mobile_index.png"

---

<Layout>
  <Header />
  <style>
    .hero-header {
      background-image: url(/src/assets/images/mockups/ayur_cart.png);
      background-size: cover;
      background-position: 0px 40%;
    }
    @media (max-width: 767.98px) {
      .hero-header {
        background-image: none;
      }
    }
  </style>
  <main>
    <!-- <section
      class="position-relative overflow-hidden p-3 text-center bg-silver hero-header d-none d-md-block ">
      <div class="col-md-5 p-3 p-sm-3 p-lg-5 mx-auto my-5 bg-black text-silver shadow">
        <h1 class="fw-normal">Showcase</h1>
        <p class="fw-normal text-start text-md-center">
          Umsetzung einer Shop-Theme
        </p>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block">
      </div>
    </section> -->

<section class="container bg-silver text-erieblack mt-3 contentsection">
  <h2>Shop Template für Gambio Shop System</h2>
  <p class="text-sm-start text-md-center">Das Layout wurde von einer Adobe XD Vorlage "from Scratch" als valides HTML 5 umgesetzt. Als CSS-Framework ist Bootstrap 5.2 zum Einsatz gekommen. Zusätzlich wurde mit Sass und JS gearbeitet. Hauptaugenmerk wurde auf das Design und dessen Usability (UX) gelegt.</p>
</section>

    <div class="d-md-flex flex-md-equal w-100">
      <div class="text-bg-silver my-3 text-center overflow-hidden p-4 w-100">
        <ShowcasePicture img={ayurscreen_home} title="Ayur home" id="ayurscreen_home" />
      </div>
      <div class="text-bg-silver my-3 text-center overflow-hidden p-4 w-100">
        <ShowcasePicture img={ayurscreen_variant} title="Ayur variant" id="ayurscreen_variant"  />
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100">
      <div class="text-bg-silver my-3 text-center overflow-hidden p-4 w-100">
        <ShowcasePicture img={ayurscreen_register} title="Ayur register" id="ayurscreen_register"  />
      </div>
      <div class="text-bg-silver my-3 text-center overflow-hidden p-4 w-100">
        <ShowcasePicture img={ayurscreen_index} title="Ayur index" id="ayurscreen_index"  />
      </div>
    </div>
    <div class="d-md-flex flex-md-equal w-100">
      <div class="text-bg-silver my-3 text-center overflow-hidden p-4 w-100">
        <ShowcasePicture img={ayurscreen_mobile_index} title="Ayur mobile register" id="ayurscreen_mobile_index" mobile={true}  />
      </div>
      <div class="text-bg-silver my-3 text-center overflow-hidden p-4 w-100">
        <ShowcasePicture img={ayurscreen_mobile_cart} title="Ayur mobile cart" id="ayurscreen_mobile_cart" mobile={true}  />
      </div>
    </div>

   
  </main>
  <Footer />
</Layout>
